@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/*
COLOR PALETTE: 
  Chetwode Blue: #8c8cdc
  Salmon: #Fc846c
  White: #edeeef
  Green: #3aab87
  Black: #24292e

*/

body {
  text-align: center;
  font-family: 'Lexend', sans-serif !important;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #edeeef;
  background-size: cover;
  color: #24292e;
  overflow-y: overlay !important;
}

img {
  vertical-align: middle;
  display: table-cell;
}

span {
  vertical-align: middle;
  display: table-cell;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none !important;
}

.here {
  color: #Fc846c !important;
  background:linear-gradient(to right,#Fc846c 50%, rgba(0, 0, 0, 0) 50%) bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% 2px !important;
}

.chetwode {
  color: #8c8cdc!important;
}

.bg-chetwode {
  background-color: #8c8cdc!important;
}

.salmon {
  color: #Fc846c!important;
}

.bg-salmon {
  background-color: #Fc846c!important;
}

.link {
  color: #8c8cdc !important;
  transition: .4s;
}

.link:hover, .nav-link:hover {
  color: #Fc846c !important;
}

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #24292e;
  transition: .4s;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #24292e;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #24292e;
}


/* Change navbar styling on scroll */
.navbar.active {
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #24292e;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #24292e;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #24292e;
}

.btn-chetwode {
  color: #fff !important;
  background-color: #8c8cdc !important;
  border: 1px solid #8c8cdc !important;
  transition: .4s;
}

.btn-chetwode:hover {
  color: #8c8cdc !important;
  background-color: #fff !important;
  transition: .4s;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar .navbar-brand, .navbar .nav-link {
    color: #24292e;
  }
}

.fancy-border {
  background-image: linear-gradient(90deg, #8c8cdc, #Fc846c);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 6px;
  padding: 60px 0;
}

.fab, .fas {
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  color: #24292e;
}

.fa-instagram:hover {
  color: #8134AF;
}

.fa-youtube:hover {
  color: #bb0000;
}

.fa-linkedin-in:hover {
  color: #007bb5;
}

.fa-github:hover {
  color: #000;
}

#footer {
  background-color: white;
  position: relative;
}
